#zmodload zsh/zprof
eval "$(starship init zsh)"

autoload -U promptinit; promptinit

# Load Autocomplete, but only parse completion files once per day
autoload -Uz compinit
for dump in ~/.zcompdump(N.mh+24); do
  compinit
done
compinit -C

setopt AUTO_MENU                        # Show completion menu on tab press
setopt ALWAYS_TO_END                    # Move cursor after completion
setopt COMPLETE_IN_WORD                 # Allow completion from middle of word
setopt LIST_PACKED                      # Smallest completion menu
setopt AUTO_PARAM_KEYS                  # Intelligent handling of characters
setopt AUTO_PARAM_SLASH                 # after a completion
setopt AUTO_REMOVE_SLASH                # Remove trailing slash when needed
setopt COMPLETE_ALIASES                 # Expand k to kongctl before running completion

HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt SHARE_HISTORY

eval "$(atuin init zsh --disable-up-arrow)"

# ZPlug
{{- if eq (env "HOMEBREW_REPOSITORY") "/opt/homebrew" }}
export ZPLUG_HOME=/opt/homebrew/Cellar/zplug/2.4.2
{{- else }}
export ZPLUG_HOME=/usr/local/opt/zplug
{{- end }}
{{- if eq (env "CODESPACES") "true" }}
export ZPLUG_HOME=/workspaces/.zplug
{{- end }}
source $ZPLUG_HOME/init.zsh

# Plugins
zplug "zsh-users/zsh-history-substring-search"
zplug "zsh-users/zsh-syntax-highlighting"
zplug plugins/kubectl, from:oh-my-zsh
zplug "skywind3000/z.lua", use:z.lua.plugin.zsh
zplug 'djui/alias-tips'
zplug load

# Vim!
ZVM_CURSOR_STYLE_ENABLED=false
bindkey -v
bindkey -M viins 'jj' vi-cmd-mode
bindkey -M vicmd "^V" edit-command-line

if zplug check zsh-users/zsh-history-substring-search; then
  bindkey -M vicmd 'k' history-substring-search-up
  bindkey -M vicmd 'j' history-substring-search-down
fi

bindkey '^?' backward-delete-char
bindkey '^h' backward-delete-char

autoload edit-command-line; zle -N edit-command-line

zstyle ':completion:*' list-colors ''
zstyle ':completion:*:*:*:*:*' menu select
zstyle ':completion::complete:*' use-cache on
zstyle ':completion::complete:*' cache-path "$HOME/.cache/zsh/completion/"
zstyle ':completion:*:*:*:users' ignored-patterns '*'
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

_call_navi() {
  if [[ -z "$NAVI_SET" ]]; then
    NAVI_SET="cheats"
  fi
  local selected
  if selected="$(printf "$(navi --print --path ${HOME}/.navi/$NAVI_SET </dev/tty)")"; then
    LBUFFER="$selected"
  fi
  zle redisplay
}

zle -N _call_navi
bindkey '^n' _call_navi

export oss="$HOME/development/oss"
export projects="$HOME/development/projects"
export k="$HOME/development/kong"

# Path
export PATH="/Users/michael/.krew/bin:/Users/michael/.local/bin:/Users/michael/bin:/Users/michael/go/bin:/Users/michael/.composer/vendor/bin:$PATH"

# Editors
export EDITOR=vim
export VISUAL=vim

# GPG
export GPG_TTY=$(tty)

# Things that should only be installed on non-codespaces environments

{{- if eq (env "CODESPACES") "" }}

# Helper functions
function token() {
  export GITHUB_TOKEN=$(op read "op://CLI/GitHub/GITHUB_TOKEN")
  echo "GITHUB_TOKEN Set";
}

function ktoken() {
  export KONNECT_TOKEN=$(op read "op://CLI/Konnect/KONNECT_TOKEN")
  echo "KONNECT_TOKEN Set";
}

function aws-personal(){
  export AWS_PROFILE=personal
  export AWS_DEFAULT_REGION=eu-west-2
}

function aws-kong(){
  export AWS_PROFILE=kong
  export AWS_DEFAULT_REGION=eu-west-2
}

# GCP
export USE_GKE_GCLOUD_AUTH_PLUGIN=True
source $HOMEBREW_REPOSITORY/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc
source $HOMEBREW_REPOSITORY/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc

# Enable mise
eval "$(mise activate zsh)"

{{- end }}

# Kubernetes
alias k=kubectl
source <(kubectl completion zsh)

# Aliases
alias tf=terraform
function mkcd() {
  mkdir -p $1 && cd $1
}

# kongctl
export XDG_CONFIG_HOME="/Users/michael/.config"
alias ko=kongctl
source <(kongctl completion zsh)

#zprof # Output profile

function rollup-github(){
  gh search prs --author @me --created ">=$1" --sort created --order desc --owner kong \
  --json number,title,repository,url,createdAt,state \
  --template '{{`{{range .}}{{printf "%s\n%s (%s) [%s]\n\n" .title .url .state .repository.nameWithOwner }}{{end}}`}}'
}

function vibe() { bash -lc "$(agent-en-place $1)" }
