[default]
{{ range (onepassword "73hrnutnkcuhhzsvkiwhsstt7e").fields -}}
  {{   if eq .label "consumer_key" }}
consumer_key={{ .value -}}
  {{   end -}}
  
  {{   if eq .label "access_token" -}}
access_token={{ .value -}}
  {{   end }}
{{ end }}